# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# Maven Generated Build Files
# dependency-reduced-pom.xml is produced as a result of shading a dependency
dependency-reduced-pom.xml